---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set priorityMap = {
  "/": "1.0",
  "/services/": "0.8",
  "/shvil-israel/": "0.8",
  "/shvil-golan/": "0.8",
  "/yam-el-yam/": "0.8",
  "/family-hosting/": "0.8",
  "/blog/": "0.8"
} -%}
{%- set freqMap = {
  "/": "weekly",
  "/blog/": "weekly"
} -%}
{%- for page in collections.all -%}
{%- set url = page.url -%}
{%- if url and "/404" not in url -%}
  {%- set priority = priorityMap[url] or "0.7" -%}
  {%- set freq = freqMap[url] or "monthly" -%}
  {%- set lastmod = page.data.dateModified or page.date | dateISO -%}
    <url>
        <loc>{{ site.url }}{{ url }}</loc>
        <lastmod>{{ lastmod }}</lastmod>
        <changefreq>{{ freq }}</changefreq>
        <priority>{{ priority }}</priority>
    </url>
{%- endif -%}
{%- endfor %}
</urlset>
